<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8"></meta>
<title>Admin</title>
<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
	
</head>
<!-- color y fondo -->
<!--<body class="fixed-nav sticky-footer bg-dark" id="page-top">-->
<body>

	<div th:replace="fragments/headeradmin :: header"></div>
	<div th:replace="fragments/headeradmin :: menu"></div>

	<div class="container">
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column" align="center">
					
				</div>
			</div>
		</form>
	</div>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
