<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<title>Admin</title>
<meta charset="utf-8" />
<link rel="icon" type="image/png" sizes="32x32" href="/img/logo1.png" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/docente.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: headerindex"></div>
	<div class="py-5 text-center"></div>

	<div class="py-5"
		style="background-image: url('/img/ricardo2.rgif'); background-size: auto;">
		<div class="container">
			<div class="row">
				<div class="col-md-3 "></div>
				<div class="col-md-6 ">
					<div class="card">
						<div class="card-body p-5">
							<h3 class="pb-3 text-center">REGISTAR DOCENTE</h3>
							<form th:action="@{/docente/registrar}" method="post"
								th:object="${docente}" enctype="multipart/form-data">

								<div class="row">
									<div class="col-md-12 ">
										<div class="form-group">
											<label for="Nombre">Nombre</label> <input
												type="text" th:field="*{Nombre}" class="form-control"
												id="Nombre" />
											<div class="alert alert-danger"
												th:if="${#fields.hasErrors('Nombre')}"
												th:errors="*{Nombre}"></div>
										</div>
									</div>
								</div>
								

										<div class="form-group">
											<label for="usuario.username">Usuario</label> <input
												type="text" maxlength="9" minlength="9"  th:field="*{usuario.username}"
												class="form-control" id="username"
												/>
											<div class="alert alert-danger"
												th:if="${#fields.hasErrors('usuario.username')}"
												th:errors="*{usuario.username}"></div>
										</div>

										<div class="form-group">
											<label for="usuario.password">Contraseña</label> <input
												type="password" pattern="(?=.*\d)(?=.*[(a-z)(A-Z]).{1,}" 
												title="Debe contener una letra y un numero"
												th:field="*{usuario.password}"
												class="form-control" id="password"
												/>
											<div class="alert alert-danger"
												th:if="${#fields.hasErrors('usuario.password')}"
												th:errors="*{usuario.password}"></div>
										</div>
										  
									
								<button type="submit" class="btn mt-2  btn-block btn-secondary">REGISTRAR</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>
