<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Curso</title>
<link rel="icon" type="image/png" sizes="32x32" href="/img/logo1.png" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/curso.js}"></script>

</head>
 
<body>

	<div th:replace="fragments/headeradmin :: header"></div>
	<div th:replace="fragments/headeradmin :: menu"></div>

	<div class="container">
		<form th:action="@{/curso/registrar}" method="post" enctype="multipart/form-data"
			th:object="${curso}">
			<div class="form-group">
			
				<label for="idcurso">ID:</label> <input type="text"
					class="form-control" th:field="*{idCurso}" readonly="readonly"></input>
			
				<label for="docente" >Docente:</label>
				<div th:switch="*{docente?.idDocente}">
					<p th:case="null">
					<label for="docente" class="col-form-label" required="required">AUN NO HA SELECCIONADO NINGUN DOCENTE! </label>
					</p>
					<p th:case="*">
					<label for="docente" class="col-form-label"  th:text="*{docente?.Nombre}" ></label>
					</p>
				</div>
				 
				<input type="hidden" class="form-control"
					th:field="*{docente.idDocente}" readonly="readonly"></input>
		
					<table class="table table-bordered table-hover table-striped"
					id="tab_logic">
					<thead>
						<tr>
							<th class="text-center">CODIGO</th>
							<th class="text-center">NOMBRE</th>
							<th class="text-center">APELLIDO</th>
							<th class="text-center">ESPECIALIDAD</th>
							<th class="text-center">SELECCIONE</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="art: ${listaDocente}">
							<td th:text="${art.idDocente}"></td>
							<td th:text="${art.Nombre}"></td>
							<td th:text="${art.Apellido}"></td>
							<td th:text="${art.especialidad.nombreEspecialidad}"></td>
							<td><a style="background:green" th:href="@{'/curso/seleccionar/' + ${art.idDocente}}" id="add-row" 
							type="button"
							class="btn btn-primary btn-md left-block"><span
							class="glyphicon glyphicon-ok" ></span>
						</a></td>
						
						</tr>
					</tbody>

				</table>
			
			
			
				<div class="form-group">
					<label for="nombre">NOMBRE DEL CURSO:</label> <input 	
					type="text" required="required" 
						th:field="*{Nombre}" class="form-control" id="nombre" />
					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('Nombre')}" th:errors="*{Nombre}"></div>
				</div>
				
					<label for="categoria" class=" col-sm-2 col-form-label">CATEGORIA: </label>
					<select
						class="form-control" th:field="*{categoria.id_categoria}">
						<option th:each="ca: ${listaCategorias}" th:value="${ca.id_categoria}"
							th:text="${ca.nombreCategoria}"
							th:selected="(${ca.id_categoria} == *{categoria.id_categoria})"></option>
					</select>
				
					<label for="horario" class=" col-sm-2 col-form-label">HORA INICIO: </label>
					<select
						class="form-control" th:field="*{horario.id_horario}">
						<option th:each="ho: ${listaHorarios}" th:value="${ho.id_horario}"
							th:text="${ho.tiempoInicio}"
							th:selected="(${ho.id_horario} == *{horario.id_horario})"></option>
					</select>
					
						<label for="horario" class=" col-sm-2 col-form-label">HORA FIN: </label>
					<select
						class="form-control" th:field="*{horario.id_horario}">
						<option th:each="ho: ${listaHorarios}" th:value="${ho.id_horario}"
							th:text="${ho.tiempoFinal}"
							th:selected="(${ho.id_horario} == *{horario.id_horario})"></option>
					</select>
					
					
					<label for="seccion" class=" col-sm-2 col-form-label">SECCION: </label>
					<select
						class="form-control" th:field="*{seccion.id_seccion}">
						<option th:each="se: ${listaSeccion}" th:value="${se.id_seccion}"
							th:text="${se.nombreSeccion}"
							th:selected="(${se.id_seccion} == *{seccion.id_seccion})"></option>
					</select>
			
				
			<button type="submit" class="btn btn-primary">Aceptar</button>
			<a href="/curso/listar" class="btn btn-danger">Cancelar</a>
			</div>

		</form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
