<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Cursos Matriculados</title>
<link rel="icon" type="image/png" sizes="32x32"
	href="/imagenes/favicon-32x32.png" />
<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<!-- 
	VISTA DESDE ALUMNO
	 -->
	<div th:replace="fragments/header :: header"></div>
	<div th:replace="fragments/header :: menu"></div>
	<div class="container">
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column">
					
					<table class="table table-bordered table-hover table-striped"
						id="tab_logic">
						<thead>
							<tr>
								<th class="text-center">CURSOS INSCRITOS</th>
								<th class="text-center">HORA INICIO</th>
								<th class="text-center">HORA FINAL</th>
								<th class="text-center">SECCION</th>
								<th class="text-center">ELIMINAR </th>
							</tr>
						</thead>
						<tbody>
										<tr th:each="p: ${listaCurso}">
								<!-- th:text muestra una linea de texto -->
								<td th:text="${p.nombre}"></td>
								<td th:text="${p.horario.tiempoInicio}"></td>
								<td th:text="${p.horario.tiempoFinal}"></td>
								<td th:text="${p.seccion.nombreSeccion}"></td>
								<td >
										<a style="font-size: 24px"
											th:href="@{'/alumno_curso/eliminar/'+ ${p.idCurso} + '/' 
											+ ${alumno.idAlumno}}">
										<i class="fa fa-trash"></i></a>
									
								</td>
								


							</tr>
		</tbody>
					</table>
				</div>
			</div>
		</form>
	</div>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
