<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Alumno Matriculados</title>
<link rel="icon" type="image/png" sizes="32x32"
	href="/imagenes/favicon-32x32.png" />
<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<!-- 
	<div th:switch="${rol}">
		<p th:case="ROLE_ADMIN" th:replace="fragments/headeradmin :: header"></p>
		<p th:case="ROLE_USER" th:replace="fragments/header :: header"></p>
	</div>
	 -->
	<div th:replace="fragments/headeradmin :: header"></div>
	<div th:replace="fragments/headeradmin :: menu"></div>
	<div class="container">
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column">
					
					<div class="form-group">
					<label>INSCRITOS:</label>
					<p th:text="${mat}">Test</p>
					</div>
				
					
					<table class="table table-bordered table-hover table-striped"
						id="tab_logic">
						<thead>
							<tr>
								<th class="text-center">ALUMNOS INSCRITOS</th>
								<th class="text-center">ELIMINAR</th>
							</tr>
						</thead>
						<tbody>
										<tr th:each="p: ${listaAC}">
								<!-- th:text muestra una linea de texto -->
								<td th:text="${p.alumno.nombre}"></td>
								<td >
									<a style="font-size: 24px"
										th:href="@{'/alumno_curso/eliminaraxc/'+ ${cursoid} + '/' 
										+ ${p.alumno.idAlumno}}">
									<i class="fa fa-trash"></i></a>
									
								</td>
							</tr>
		</tbody>
					</table>
				</div>
			</div>
		</form>
		<a  style="border-bottom-color: green" th:href="@{/curso/listar}" id="add-row" type="button"
				class="btn btn-primary btn-md left-block"> <span
				class="glyphicon glyphicon-arrow-left" ></span> Regresar
		</a>
	</div>
	
					
	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
