<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="utf-8"/>

<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"
	type="text/css"/>

<title>Matricula</title>
<link rel="stylesheet" th:href="@{/css/style.css}"/>
<link rel="icon" href="@{/img/logo1.png}" />

<!-- Script: Animated entrance -->
<script th:src="@{/js/animate-in.js}"></script>
</head>
<body>
	
</body>
</html>
