!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="utf-8" />

<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"
	type="text/css" />

<title>Matricula</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="icon" href="@{/img/logoupc2.png}" />

<!-- Script: Animated entrance -->
<script th:src="@{/js/animate-in.js}"></script>

</head>

<body>
	<div th:fragment="header" style="background-color: silver;">
		<!-- this is header -->
		<link rel="icon" type="image/png" sizes="32x32" href="/img/logoupc2.png" />

		<nav class="navbar navbar-expand-lg navbar-white bg-secondary">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarTogglerDemo01"
				aria-controls="navbarTogglerDemo01" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				<a th:href="@{/login/home/}"> <img
					style="max-width: 20%; height: auto;"
					th:src="@{/img/upclogo14.png}" />
				</a>
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="">



				</ul>
				<form id="logoutForm" th:action="@{/logout}" method="post">
					<button class="btn btn-dark"
						style="box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.24), 0 6px 12px 0 rgba(0, 0, 0, 0.19); padding: 1px"
						onclick="document.getElementById('logoutForm').submit();"
						type="submit">
						LOGOUT <span class="glyphicon glyphicon-off" style="color:red"></span>
						
					</button>
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />
				</form>
			</div>
		</nav>


	</div>

	<div  th:fragment="headerindex">
		<meta charset="utf-8" />

		<link rel="stylesheet"
			th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"
			type="text/css" />

		<title>SISTEMA</title>
		<link rel="stylesheet" th:href="@{/css/style.css}" />
		<link rel="icon" href="@{/img/logoupc2.png}" />

		<!-- Script: Animated entrance -->
		<script th:src="@{/js/animate-in.js}"></script>
		<div class="fixed-top">
			<nav class="navbar navbar-inverse ">

				<div>
					<a class="navbar-brand" th:href="@{/}">
					</a>
				</div>
				
			</nav>
		</div>
	</div>



	<div th:fragment="menu" style="font-size: 15px">

		<!-- menu -->
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

		<!-- css para el header -->
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css"></link>
		<!-- Bootstrap core CSS-->
		<link rel="stylesheet"
			th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
		<!-- Custom fonts for this template-->
		<link rel="stylesheet"
			th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" />
		<!-- Page level plugin CSS-->
		<link rel="stylesheet"
			th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" />
		<!-- Custom styles for this template-->
		<link rel="stylesheet" th:href="@{/css/sb-admin.css}" />

  
		<ul class="navbar navbar-inverse" id="exampleAccordion">


			<li class="nav-item" data-toggle="tooltip" data-placement="right"
				title="Components"><a
				class="nav-link nav-link-collapse collapsed" data-toggle="collapse"
				href="#menu1" data-parent="#exampleAccordion"> <i
					class="fa fa-fw fa-file"></i> <span class="nav-link-text" style="color:rgb(255, 128, 64)">HERRAMIENTAS</span>
			</a>
				<ul class="sidenav-second-level collapse" id="menu1">

					<li><a href="#" th:href="@{/alumno_curso/irRegistrar/} + ${alumnoid}" style="color:white">MATRICULATE!
					</a></li>
					<li><a href="#" th:href="@{/alumno_curso/detalles/} + ${alumnoid}" style="color:white">LISTAR CURSOS MATRICULADOS</a></li>
							
				
							
				</ul>
				
				</li>
			

     
			
		</ul>
		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>
	</div>
	
	
	
	<div th:fragment="menu2" style="font-size: 15px">

		<!-- menu -->
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

		<!-- css para el header -->
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css"></link>
		<!-- Bootstrap core CSS-->
		<link rel="stylesheet"
			th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
		<!-- Custom fonts for this template-->
		<link rel="stylesheet"
			th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" />
		<!-- Page level plugin CSS-->
		<link rel="stylesheet"
			th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" />
		<!-- Custom styles for this template-->
		<link rel="stylesheet" th:href="@{/css/sb-admin.css}" />


		<ul class="navbar navbar-inverse" id="exampleAccordion">


			<li class="nav-item" data-toggle="tooltip" data-placement="right"
				title="Components"><a
				class="nav-link nav-link-collapse collapsed" data-toggle="collapse"
				href="#menu1" data-parent="#exampleAccordion"> <i
					class="fa fa-fw fa-file"></i> <span class="nav-link-text" style="color:#B6DCB6">HERRAMIENTAS</span>
			</a>
				<ul class="sidenav-second-level collapse" id="menu1">
				
				
				<li><a href="#" th:href="@{/docente_curso/irRegistrar/} + ${docenteid}" style="color:white"> <i
							class="fa fa-pencil-square-o" aria-hidden="true" style="color:#B6DCB6"></i> Registrar Cursos
					</a></li>
					<li><a href="#" th:href="@{/docente_curso/detalles/} + ${docenteid}" style="color:white"><i
							class="fa fa-list-ol" aria-hidden="true" style="color:#B6DCB6"></i> Ver Cursos Registrados</a></li>
				
					<li><a href="#" th:href="@{/curso/irRegistrar}" style="color:white"> <i
							class="fa fa-pencil-square-o" aria-hidden="true" style="color:#B6DCB6"></i> Registrar Curso
					</a></li>
					<li><a href="#" th:href="@{/alumno/listar}" style="color:white"> <i
							class="fa fa-pencil-square-o" aria-hidden="true" style="color:#B6DCB6"></i> Visualizar alumnos
					</a></li>
					
				</ul></li>

			
		</ul>
		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>
	</div>
	
	
	
	
	
	
	
	
</body>
</html>
