<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		
		<meta charset="ISO-8859-1"></meta>
		
		<title>Alumno</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script type="text/javascript" th:src="@{/js/alumno.js}"></script>

	</head>
	
	<body>
	
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
		
		
			<form th:action="@{/alumno/registrar}" method="post" th:object="${alumno}">
				<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="form-group">
					
					<label for="idAlumno">ID:</label> 
					<input type="text" class="form-control" th:field="*{idAlumno}"></input>
					
					<div class="form-group">
					
						<label 	for="nombreAlumno">NOMBRE:</label> 
						<input type="text" th:field="*{nombreAlumno}" class="form-control" id="nombre"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('nombreAlumno')}" 
							th:errors="*{nombreAlumno}">
						</div>
						
						<label 	for="edadAlumno">EDAD:</label> 
						<input type="number" th:field="*{edadAlumno}" class="form-control" id="edad"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('edadAlumno')}" 
							th:errors="*{edadAlumno}">
						</div>
						
						
						<label 	for="correoAlumno">CORREO:</label> 
						<input type="email"  th:field="*{correoAlumno}" class="form-control" id="correo"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('correoAlumno')}" 
							th:errors="*{correoAlumno}">
						</div>	
						
						<label for="user" class=" col-sm-2 col-form-label">GMAIL: </label>
					<select
						class="form-control" th:field="*{user.id}">
						<option th:each="do: ${listaUser}" th:value="${do.id}"
							th:text="${do.correo}"
							th:selected="(${do.id} == *{user.id})"></option>
					</select>
						
						<label for="user" class=" col-sm-2 col-form-label">USER: </label>
					<select
						class="form-control" th:field="*{user.id}">
						<option th:each="do: ${listaUser}" th:value="${do.id}"
							th:text="${do.username}"
							th:selected="(${do.id} == *{user.id})"></option>
					</select>
						
			
						
																				
											
						</div>
					
				</div>
				
				<button th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/alumno/listar" class="btn btn-danger">Cancelar</a>
			</form>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>

	</body>
	
</html>