<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		
		<meta charset="ISO-8859-1"></meta>
		
		<title>Curso</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script type="text/javascript" th:src="@{/js/curso.js}"></script>

	</head>
	
	<body>
	
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
		
		
			<form th:action="@{/curso/registrar}" method="post" th:object="${curso}">
				<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="form-group">
					
					<label for="idCurso">ID:</label> 
					<input type="text" class="form-control" th:field="*{idCurso}"></input>
					
					<div class="form-group">
					
						<label 	for="nombre">NOMBRE:</label> 
						<input type="text" th:field="*{nombreCurso}" class="form-control" id="nombre"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('nombreCurso')}" 
							th:errors="*{nombreCurso}">
						</div>
						
						<label 	for="nombre">DESCRIPCION:</label> 
						<input type="text" th:field="*{descripcionCurso}" class="form-control" id="nombre"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('descripcionCurso')}" 
							th:errors="*{descripcionCurso}">
						</div>
						
						<label 	for="nombre">PRECIO:</label> 
						<input type="number" step=".01" th:field="*{precioCurso}" class="form-control" id="nombre"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('precioCurso')}" 
							th:errors="*{precioCurso}">
						</div>
						
						
						<label for="categoria" class=" col-sm-2 col-form-label">CATEGORIA: </label>
					<select
						class="form-control" th:field="*{categoria.id_categoria}">
						<option th:each="ca: ${listaCategorias}" th:value="${ca.id_categoria}"
							th:text="${ca.nombreCategoria}"
							th:selected="(${ca.id_categoria} == *{categoria.id_categoria})"></option>
					</select>
					
					
				<label for="docente" class=" col-sm-2 col-form-label">DOCENTE: </label>
					<select
						class="form-control" th:field="*{docente.idDocente}">
						<option th:each="do: ${listaDocentes}" th:value="${do.idDocente}"
							th:text="${do.nombreDocente}"
							th:selected="(${do.idDocente} == *{docente.idDocente})"></option>
					</select>
								
				</div>
				
				<button th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/curso/listar" class="btn btn-danger">Cancelar</a>
			</form>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>

	</body>
	
</html>