<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		
		<meta charset="ISO-8859-1"></meta>
		
		<title>Alumno</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script type="text/javascript" th:src="@{/js/docente.js}"></script>

	</head>
	
	<body>
	
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
		
		
			<form th:action="@{/docente/registrar}" method="post" th:object="${docente}">
				<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="form-group">
					
					<label for="idDocente">ID:</label> 
					<input type="text" class="form-control" th:field="*{idDocente}"></input>
					
					<div class="form-group">
					
						<label 	for="nombreDocente">NOMBRE:</label> 
						<input type="text" th:field="*{nombreDocente}" class="form-control" id="nombre"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('nombreDocente')}" 
							th:errors="*{nombreDocente}">
						</div>
						
						<label 	for="DNIDocente">DNI:</label> 
						<input type="number" th:field="*{DNIDocente}" class="form-control" id="edad"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('DNIDocente')}" 
							th:errors="*{DNIDocente}">
						</div>
						
						
						<label 	for="residenciaDocente">RESIDENCIA:</label> 
						<input type="text"  th:field="*{residenciaDocente}" class="form-control" id="residencia"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('residenciaDocente')}" 
							th:errors="*{residenciaDocente}">
						</div>							
						
						
						
						<label 	for="correoDocente">CORREO:</label> 
						<input type="email"  th:field="*{correoDocente}" class="form-control" id="correo"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('correoDocente')}" 
							th:errors="*{correoDocente}">
						</div>															
											
						</div>
					
				</div>
				
				<button th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/docente/listar" class="btn btn-danger">Cancelar</a>
			</form>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>

	</body>
	
</html>