<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	
<div th:replace="fragments/headeradmin2 :: menu"></div>
	<div class="container py-4">

		<div class="card bg-danger text-white">
			<div class="card-header">Error:Access denied!</div>
			<div class="card-body" align="center">
			<img th:src="@{/img/accesodenegado.png}" width="400" height="300" alt="logo1" align="middle"></img>
				<h5 class="card-title">
					LO SENTIMOS, NO TIENES AUTORIZACION PARA ESTE RECURSO!
				</h5>
				<a th:href="@{/login/home}" class="btn btn-outline-light"
					role="button"> REGRESAR A SU PERFIL</a>

			</div>
		</div>
	</div>

</body>
</html>