<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Alumno</title>
<link rel="icon" type="image/png" sizes="32x32" href="/img/logo1.png" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/alumno.js}"></script>

</head>
<body>

	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<form th:action="@{/inscripcion/registrar}" method="post" enctype="multipart/form-data"
			th:object="${inscripcion}">
			<div class="form-group">
			
				

			<label for="idAlumno">ID:</label> 
					<input type="text" class="form-control" th:field="*{alumno.idAlumno}" readonly="readonly"></input>


				
					<label for="nombre">NOMBRE:</label> <input type="text" class="form-control"
						th:field="*{alumno.nombreAlumno}" readonly="readonly"></input>
				
					
				
				
				<label for="curso" >Curso:</label>
				<div th:switch="*{curso?.idCurso}">
					<p th:case="null">
					<label for="curso" class="col-form-label">Seleccione un Curso</label>
					</p>
					<p th:case="*">
					<label for="curso" class="col-form-label" th:text="*{curso?.nombreCurso}"></label>
					</p>
				</div>
				 
				<input type="hidden" class="form-control"
					th:field="*{curso.idCurso}" readonly="readonly"></input>
		
					<table class="table table-hover"
						id="tab_logic">
					<thead class="thead-dark">
						<tr>
							
							<th class="text-center">NOMBRE</th>
							<th class="text-center">PROFESOR</th>
							<th class="text-center">CORREO</th>
							<th class="text-center">OPERACI&Oacute;N</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="art: ${listaCursos}">
							<td th:text="${art.nombreCurso}"></td>
							<td th:text="${art.docente.nombreDocente}"></td>
							<td th:text="${art.docente.correoDocente}"></td>
							<td><a th:href="@{'/inscripcion/seleccionar/' + ${inscripcion.alumno.idAlumno} + '/' + ${art.idCurso}}">ELEGIR</a></td>
						
						</tr>
					</tbody>

				</table>
				
			<button type="submit" class="btn btn-primary">Aceptar</button>
			<a href="/login/home/" class="btn btn-danger">Cancelar</a>
			</div>
			
		</form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
