<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		
		<meta charset="UTF-8"></meta>
		
		<title>Categorias</title>
		
		<script type="text/javascript"
			src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="//code.jquery.com/jquery-1.11.1.min.js">
		</script>

	</head>

	<body >
	
	
	<div th:replace="fragments/headeradmin :: header"></div>
	<div th:replace="fragments/headeradmin :: menu"></div>

		<div class="container">
			<div id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column" align="center">
				<img th:src="@{/img/gestionarcategorias.jpg}" width="400" height="200" alt="logo1" align="middle"></img>
				<p></p>
					
						<br />
					<form th:action="@{/categoria/buscar}" method="post">
						<div class="container">
							<div class="row">

								<div class="col-md-8">
									<input type="text" class="form-control" th:name="txtnamesearch"
										placeholder="Digita el nombre de la categoria"></input>
								</div>
								<div class="col-md-4" style="left: -174px;">
									<button type="submit" class="btn btn-primary btn-md">
										<span class="glyphicon glyphicon-search"></span>
									</button>
								</div>

							</div>
						</div>
					</form>
					
						
						<br />
						
						
						
						
						
						<table class="table table-hover" id="tab_logic">
							<thead class="thead-dark">
								<tr>
									<th class="text-center" >CODIGO</th>
									<th class="text-center" >NOMBRE</th>
									
			
								</tr>
							</thead>
							<tbody>
								<tr th:each="cat: ${listaCategorias}">
									<td th:text="${cat.id_categoria}"></td>
									<td th:text="${cat.nombreCategoria}"></td>
									<td>
									
						
						
					
						<a  style="background:#FFC300" th:href="@{'/categoria/modificar/' + ${cat.id_categoria}}" id="add-row" 
							type="button"
							class="btn btn-primary btn-md left-block"> EDITAR
							<span
							class="glyphicon glyphicon-cog" ></span>
						</a>
						
						
						
						 
						<a  
						data-confirm="¿Total y completamente seguro de eliminar?"
						 style="background:red" th:href="@{/categoria/eliminar?id=}+${cat.id_categoria}" id="add-row" 
							 type="button"
							class="btn btn-primary btn-md left-block"
							onclick="return confirm('Seguro que deseas eliminar esta categoria?');"
							> ELIMINAR
							<span
							class="glyphicon glyphicon-trash" ></span>
						</a>
													
			
									</td>

								</tr>
							</tbody>
						</table>
											
					</div>
				</div>
			<div th:if="${mensaje}" class="alert alert-danger">
				<p th:text="${mensaje}"></p>
			</div>
		</div>
	</div>
	
	<div th:replace="fragments/footer :: footer"></div>

	</body>
</html>
