<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		
		<meta charset="UTF-8"></meta>
		
		<title>Categorias</title>
		
		<script type="text/javascript"
			src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="//code.jquery.com/jquery-1.11.1.min.js">
		</script>

	</head>

	<body >
	
	
	<div th:replace="fragments/headeradmin :: header"></div>
	<div th:replace="fragments/headeradmin :: menu"></div>

		<div class="container">
			<div id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column" align="center">
				<img th:src="@{/img/gestionarcategorias.jpg}" width="400" height="200" alt="logo1" align="middle"></img>
				<p></p>
					
					<br /> <a  style="border-bottom-color: green"
						th:href="@{/seccion/irRegistrar}" id="add-row" type="button"
						class="btn btn-primary btn-md left-block"> <span
						class="glyphicon glyphicon-plus"></span> Secciones
					</a> <br /> <br />
						
						
						
						
						
						<table class="table table-hover" id="tab_logic">
							<thead class="thead-dark">
								<tr>
									<th class="text-center" >ID</th>
									<th class="text-center" >CODIGO DE SECCION</th>
									
			
								</tr>
							</thead>
							<tbody>
								<tr th:each="car: ${listaSeccion}">
									<td th:text="${car.id_seccion}"></td>
									<td th:text="${car.nombreSeccion}"></td>
									<td>
									
						
						
					
						<a  style="background:#FFC300" th:href="@{'/seccion/modificar/' + ${car.id_seccion}}" id="add-row" 
							type="button"
							class="btn btn-primary btn-md left-block"> EDITAR
							<span
							class="glyphicon glyphicon-cog" ></span>
						</a>
						
						
						
						 
						<a  
						data-confirm="¿Total y completamente seguro de eliminar?"
						 style="background:red" th:href="@{/seccion/eliminar?id=}+${car.id_seccion}" id="add-row" 
							 type="button"
							class="btn btn-primary btn-md left-block"
							onclick="return confirm('Seguro que deseas eliminar esta seccion?');"
							> ELIMINAR
							<span
							class="glyphicon glyphicon-trash" ></span>
						</a>
													
			
									</td>

								</tr>
							</tbody>
						</table>
											
					</div>
				</div>
			<div th:if="${mensaje}" class="alert alert-danger">
				<p th:text="${mensaje}"></p>
			</div>
		</div>
	</div>
	
	<div th:replace="fragments/footer :: footer"></div>

	</body>
</html>
