<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>


</head>
<body >


	<div th:replace="fragments/headeradmin2 :: menu"></div>
	<div class="py-5 text-center"></div>

 <!--  <div class="py-5"
		style="background-image: url('/img/FONDO2.jpg'); background-size: cover;"> -->
			<div class="py-5" >

		<div class="container">
			<div class="row">
				<div class="col-md-3 "></div>
				<div class="col-md-4 ">
					<div class="card">
					<img th:src="@{/img/upctransp.png}" width="330" height="230" class="center"></img>
						<div class="card-body p-5">
							<h3 class="pb-3 text-center">Inicia Sesion</h3>
							<form th:action="@{/login}" method="post">
								<div class="row">
									<div class="col-md-12 ">
										<div class="form-group">
											<input type="text" name="username" id="username"
												class="form-control" placeholder="Nombre de Usuario" autofocus="true"
												required="true" />
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 ">
										<div class="form-group">
											<input type="password" name="password" id="password"
												class="form-control" placeholder="Contrase&ntilde;a" required="true" />
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12 ">
										<div class="form-group">
											<input type="submit" class="btn btn-danger btn-primary btn-block"
												value="Ingresar" />
										</div>
									</div>
								</div>
								
								<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}" />

								<div>												
								</div>
							</form>
		
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>