<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

<meta charset="utf-8" />
<link rel="icon" type="image/png" sizes="32x32" href="/img/logo1.png" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/alumno.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: headerindex"></div>
	<div th:replace="fragments/headeradmin :: header"></div>
	<div th:replace="fragments/headeradmin :: menu"></div>

		<div class="container">
							<form th:action="@{/alumno/registrar}" method="post"
								th:object="${alumno}" enctype="multipart/form-data">
								
					
								<input type="hidden" class="form-control" th:field="*{idAlumno}"></input>

						
										<div class="form-group">
											<label for="nombre">Nombre</label> <input
												type="text" required="required"
												th:field="*{nombre}" class="form-control"
												id="nombre"  />
											<div class="alert alert-danger"
												th:if="${#fields.hasErrors('nombre')}"
												th:errors="*{nombre}"></div>
										</div>
									
								
								
								
										<div class="form-group">
											<label for="nombre">Apellido</label> <input
												type="text" required="required" 
												th:field="*{Apellido}" class="form-control"
												id="nombre"  />
											<div class="alert alert-danger"
												th:if="${#fields.hasErrors('Apellido')}"
												th:errors="*{Apellido}"></div>
										</div>
									
								
								
									
										
											<label for="carrera" class=" col-sm-2 col-form-label">Carrera: </label>
					<select
						class="form-control" th:field="*{carrera.id_Carrera}">
						<option th:each="car: ${listaCarreras}" th:value="${car.id_Carrera}"
							th:text="${car.nombreCarrera}"
							th:selected="(${car.id_Carrera} == *{carrera.id_Carrera})"></option>
					</select>
					
										
									
				
										<div class="form-group">
											<label for="correoAlumno">Correo</label> <input
												type="email" required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
												title="Debe tener el formato abc@nombredempresa.com"
												 th:field="*{correoAlumno}" class="form-control"
												id="correoAlumno"  />
											<div class="alert alert-danger"
												th:if="${#fields.hasErrors('correoAlumno')}"
												th:errors="*{correoAlumno}"></div>
										</div>
									

										<div class="form-group">
											<label for="usuario.username">Usuario</label> <input
												type="text" required="required" maxlength="9" minlength="9"  th:field="*{usuario.username}"
												class="form-control" id="username"
												/>
											<div class="alert alert-danger"
												th:if="${#fields.hasErrors('usuario.username')}"
												th:errors="*{usuario.username}"></div>
										</div>

										<div class="form-group">
											<label for="usuario.password">Contraseña</label> <input
												type="text" required="required" maxlength="10" pattern="(?=.*\d)(?=.*[(a-z)(A-Z]).{1,}" 
												title="Debe contener una letra y un numero"
												th:field="*{usuario.password}"
												class="form-control" id="password"
												/>
											<div class="alert alert-danger"
												th:if="${#fields.hasErrors('usuario.password')}"
												th:errors="*{usuario.password}"></div>
										</div>
										
									
									<div class="row">
									<div class="col-md-12 ">
										<div class="form-group">
											<label for="foto">FOTO</label> <input
												type="file" name="file" class="form-control"
												id="foto"  />
												<div class="alert alert-danger"
												th:if="${#fields.hasErrors('foto')}"
												th:errors="*{foto}"></div>
										</div>
				
								</div>
							
							</div>		
									
									
									
									
										
									
								<button type="submit" class="btn btn-secondary btn-lg active">REGISTRAR</button>
								<a href="/alumno/listar" class="btn btn-danger">CANCELAR</a>
							</form>
						</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>
