<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Alumnos</title>
<link rel="icon" type="image/png" sizes="32x32" href="/imagenes/favicon-32x32.png"/>
<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>

</head>
<body>
	<div th:replace="fragments/headeradmin :: header"></div>
	<div th:replace="fragments/headeradmin :: menu"></div>
	<div class="container">
			<div class="card bg-ligth">
				<div class="card-header bg-dark text-white tex-center" th:text="'INFORMACION PERSONAL'"></div>
				<div class="card-body">
				<img class="img-thumbnail rounded float-left"
				th:src="@{'/img/'+${alumno.foto}}"
				th:alt="${alumno.foto}"
				style="max-width:25%;"></img>
				 
				 <ul class="list-group">
				 
				 <li class ="list-group-item" th:text="'NOMBRE: '     +        ${alumno.nombre}" ></li>
				 <li class ="list-group-item" th:text="'APELLIDO: '     +        ${alumno.Apellido}" ></li>
				 <li class ="list-group-item" th:text="'CORREO: '     +        ${alumno.correoAlumno}" ></li>
				 <li class ="list-group-item" th:text="'CARRERA UNIVERSITARIA: '     +        ${alumno.carrera.nombreCarrera}" ></li>
	
				 </ul>
				 
		</div>
		</div>		
	</div>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>